header {
	background-image: linear-gradient(to top, white, blue 300%);
	
	height: 280px;
	padding: 0 20px;
}


img {
	max-width:400px;
    max-height:220px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 28px 100px 100px 150px;
    border-color: black;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
	color: black;
}


header h2 {
	font-size: 18px;
	color: black;
}

div p {
	font-size: 18px;
	color: black;
}

li {
	padding-top: 10px;
	padding: 10px 10px;
}

.nome {
	margin: 0 0 0 15px;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-family: Georgia, serif;
	font-size: 35px;
	color: black;
	margin: 15px 470px 15px 15px;
	box-sizing: border-box;
	border: 4px double #000000;
	border-radius: 15px;
	border-color: Black;

}

.contato {
	margin: -320px 15px 15px 950px;
	font-family: Times New Roman, serif;
	font-weight: bold;
	font-size: 22px;
	color: black;
}


.objetivo {
	text-align: center;
	font-family: Times New Roman, serif;
	font-size: 22px;
	font-weight: bold;
	margin: 15px 80px 15px 80px;
	padding: 20px 70px;
	border: 2px solid #000000;
	border-radius: 10px;
}

main {
	background-image: linear-gradient(to bottom, white, blue 200%);
}

.objetivo p {
	text-align: center
}

.destaques {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0;
}

.destaques li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: middle;
	margin: 0 1.5%;
	padding: 30px 20px;
	margin-top: 10px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 15px;
}

.destaques h2 {
	font-size: 25px;
	font-weight: bold;
}

.destaques p {
	font-size: 18px;
	margin-top: 7px;
}